body {
    direction: rtl;
    background-color: white !important;
}

h1 {
    color: black !important;
    text-align: center;
}

.containCat {
    padding-bottom: 10px;
    border-bottom: 2px solid #ff9a8b4d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    font-size: larger;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 240px;
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 0.5); /* צבע לבן עם שקיפות */
    transition: background-color 0.3s ease;
    z-index: -100;
    background-repeat: no-repeat;
    background-size: cover;
}

.recipe-actions {
    position: fixed;
    left: 10px;
    bottom: 10px;
    /* width: 100px; */
}